div {
    position: fixed;
    width: 300px;
    height: 150px;
    top: 0;
}
.d1 {
    z-index: 1;
    background-color: green;
    left: 0;
}
.d2 {
    z-index: 2;
    background-color: yellow;
    left: 200px;
    opacity: .5;

}