#p1 {
    background-color: rgba(255, 0, 0, 0.4);
}
#p2 {
    background-color: rgba(0, 255, 0, 0.4);
}
#p3 {
    background-color: rgba( 0, 0, 255, 0.4);
}
#p4 {
    background-color: rgba(111, 111, 111, 0.4);
}
#p5 {
    background-color: rgba(204, 204, 0, 0.4);
}
#p6 {
   background-color: rgba(222, 49, 99, 0.4);
}